$color-light: #f4f4f4;
$color-dark: #333;
$color-primary: #988345;


$bp-jumbo: 120em; //1920px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900
$bp-small: 37.5em; //600
$bp-smallest: 31.25em; //500px 