.mt-xl {
  margin-top: 5rem; 
}

.mt-lg {
  margin-top: 4rem; 
}

.mt-md {
  margin-top: 3rem; 
}

.mt-sm {
  margin-top: 2rem; 
}

.mt-ssm {
  margin-top: 1rem; 
}

.mb-xl {
  margin-bottom: 5rem; 
}

.mb-lg {
  margin-bottom: 4rem; 
}

.mb-md {
  margin-bottom: 3rem; 
}

.mb-sm {
  margin-bottom: 2rem; 
}

.mb-ssm {
  margin-bottom: 1rem; 
}

.pt-xl {
  padding-top: 5rem; 
}

.pt-lg {
  padding-top: 4rem; 
}

.pt-md {
  padding-top: 3rem; 
}

.pt-sm {
  padding-top: 2rem; 
}

.pt-ssm {
  padding-top: 1rem; 
}

.pb-xl {
  padding-bottom: 5rem; 
}

.pb-lg {
  padding-bottom: 4rem; 
}

.pb-md {
  padding-bottom: 3rem; 
}

.pb-sm {
  padding-bottom: 2rem; 
}

.pb-ssm {
  padding-bottom: 1rem; 
}
